{% include 'base.html' %}
{% include 'navigation.html' %}

{% block content %}

<section class="bg-dark text-center py-9">
  <div class="container bg-light p-4" style="border: 2px solid rgb(48, 73, 186); border-radius: 12px;">
      <h1 class="text-center pb-3">Reset Password</h1>
      <div class="row justify-content-center">
          <div class="col-lg-6">   
              <form action="" method="post">
                  {% csrf_token %}
                  {% if form.email.errors %}
                      <div class="alert alert-danger">
                          {{ form.email.errors }}
                      </div>
                  {% endif %}
                  <div class="mb-3">
                      <label for="{{ form.email.id_for_label }}" class="form-label">Email</label>
                      <input type="email" name="{{ form.email.name }}" class="form-control" id="{{ form.email.id_for_label }}" required placeholder="Enter your email adresse">
                  </div>
                  <div class="form-group">
                    <div class="text-center"><br>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button type="submit"
                            class="btn btn-info">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Reset Password <span
                                class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
                    </div>
                </div>
              </form>
              {# Assumes you set up the password_reset view in your URLconf #}
              <p class="text-center"><a href="{% url 'password_reset' %}">Lost password?</a></p>
          </div>
          <div class="col-lg-6 pt-7">
              {% load static %}
              <img src="{% static 'assets/img/blog/1.png' %}" alt="Image" class="img-fluid">
          </div>
      </div>
  </div><!-- /.container -->
</section>

{% endblock content%}
{% include 'footer.html' %}
