{% extends "../base_generic.html" %}


{% block content %}
<style>
  .mydivstyle:hover {
     box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
     transform: translateY(-20px) ;
  }
</style>
<section class="px-0 row-center form-special mt-1">
  <div class="container bg-light p-4" style="border: 2px solid rgb(48, 73, 186); border-radius: 12px;">
      <h1 class="text-center pb-3">Change Password</h1>
      <div class="row justify-content-center">
          <div class="col-lg-6">   
              <form action="" method="post" class="px-5 pb-5">
                  {% csrf_token %}
                  <div class="mb-3">
                      <label for="{{ form.old_password.id_for_label }}" class="form-label">Old Password</label>
                      <input type="password" name="{{ form.old_password.name }}" class="form-control" id="{{ form.old_password.id_for_label }}" required placeholder="Enter your old password">
                  </div>
                  <div class="mb-3">
                      <label for="{{ form.new_password1.id_for_label }}" class="form-label">New Password</label>
                      <input type="password" name="{{ form.new_password1.name }}" class="form-control" id="{{ form.new_password1.id_for_label }}" required placeholder="Enter your New password">
                  </div>
                  <div class="mb-3">
                      <label for="{{ form.new_password2.id_for_label }}" class="form-label">Confirm New Password</label>
                      <input type="password" name="{{ form.new_password2.name }}" class="form-control" id="{{ form.new_password2.id_for_label }}" required placeholder="Confirm the new password">
                  </div>
                  <div class="text-center"><br>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button type="submit"
                        class="btn btn-info">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Change Password <span
                            class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
                </div>
              </form>
              {# Assumes you set up the password_reset view in your URLconf #}
              <p class="text-center"><a href="{% url 'password_reset' %}">Lost password?</a></p>
          </div>
          <div class="col-lg-6 pt-7">
              {% load static %}
              <img src="{% static 'assets/img/blog/1.png' %}" alt="Image" class="img-fluid">
          </div>
      </div>
  </div><!-- /.container -->
</section>

{% endblock content %}
