{% load i18n %}

  <!-- Footer -->
<footer class="pt-0 pb-0" style="background-color:#65E4A3;">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom" style="padding-bottom: 10px;padding-top: 10px;">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Contactez nous sur nos réseaux sociaux :</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div class="mb-2 mw-100 p-3 pt-0 pb-0" >
          <!-- Facebook -->
          <a
            class="btn text-white btn-floating m-1"
            style="background-color: #3b5998;"
            href="#!"
            role="button"
            ><i class="bi bi-facebook"></i></a>

          <!-- Twitter -->
          <a
            class="btn text-white btn-floating m-1"
            style="background-color: #4cd6f6;"
            href="https://twitter.com/i/flow/login?redirect_after_login=%2Fministere_tnra"
            role="button"
            target="_blank"
            ><i class="fab fa-twitter"></i
           ></a>
           <!-- Youtube -->
          <a
          class="btn text-white btn-floating m-1"
          style="background-color: #f80f0f;"
          href="https://www.youtube.com/channel/UC6PhpJlxC70V4h9o9mbjQyw"
          role="button"
          target="_blank"
          ><i class="fab fa-youtube"></i
          ></a> 
          <!-- Linkedin -->
          <a
            class="btn text-white btn-floating m-1"
            style="background-color: #0082ca;"
            href="https://www.linkedin.com/company/reformeadministration/?originalSubdomain=ma"
            role="button"
            target="_blank"
            ><i class="fab fa-linkedin-in"></i
            ></a>
          <!-- Github -->
          <a
            class="btn text-white btn-floating m-1"
            style="background-color: #333333;"
            href="#!"
            role="button"
            ><i class="fab fa-github"></i
           ></a>
    </div>
      <!-- Right -->  
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="pt-0 pb-0">
    <div class="container text-center text-md-start mt-5 pt-0 pb-0">
      <!-- Grid row -->
      <div class="row mt-3 pt-0 pb-0">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3 text-secondary"></i>Trésororie Générale du Royaume Rabat
          </h6>
          <p>
            Considéré comme véritable levier de changement et de développement, 
            le numérique suscite un intérêt particulier au plus haut niveau de l’Etat.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Liens utiles
            </h6>
            <p>
              <a href="{% url 'home' %}" class="text-reset">Home</a>
            </p>
            <p>
              <a href="{% url 'about' %}" class="text-reset">About</a>
            </p>
            <p>
              <a href="{% url 'blogs' %}" class="text-reset">Regulatory Refenrence</a>
            </p>
            
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Ministre
            </h6>
            <p>
              <a href="#!" class="text-reset">La ministre</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Missions</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Organigramme de Ministère</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Budget annuel</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Bilans annuel</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Historique</a>
            </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3 text-secondary"></i>
            <a href="https://www.google.com/maps/search/%D8%A7%D9%84%D8%B1%D8%A8%D8%A7%D8%B7+%D8%A3%D9%83%D8%AF%D8%A7%D9%84%D8%8C+%D8%B2%D9%86%D9%82%D8%A9+%D8%A3%D8%AD%D9%85%D8%AF+%D8%A7%D9%84%D8%B4%D8%B1%D9%82%D8%A7%D9%88%D9%8A%D8%8C+%D8%A7%D9%84%D8%AD%D9%8A+%D8%A7%D9%84%D8%A5%D8%AF%D8%A7%D8%B1%D9%8A%D8%8C+%D8%B5+%D8%A8:+1076%E2%80%AD/@34.0118642,-6.835599,15z/data=!3m1!4b1?entry=ttu"
               target="_blank" class="text-dark">لرباط أكدال، زنقة أحمد الشرقاوي، الحي الإداري، ص ب: 1076</a>
            </p>
            <p>
              <i class="fas fa-envelope me-3 text-secondary"></i>
              <a href="mailto:info@mmsp.gov.ma" class="text-dark">info@mmsp.gov.ma</a>
            </p>
            <p><i class="fas fa-phone me-3 text-secondary"></i> 
              <a href="tel:0537679900" class="text-dark">0537679900</a>
            </p>
            <div class="text-center mt-5">
              <a href="{% url 'contact:contact-us' %}" class="btn btn-outline-dark text-dark">Mailing ici</a>
           </div>
          
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4 pt-0 " style="background-color: rgba(0, 0, 0, 0.025);">
    © كل الحقوق محفوظة2023 All rights reserved
    <a class="text-reset fw-bold" href="https://www.dgssi.gov.ma/fr/content/adoption-par-le-parlement-du-projet-de-loi-ndeg-0520-sur-la-cybersecurite.html" target="_blank">Direction Générale de la Sécurité de Systèmes d'Informations</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->