{% include 'base.html' %}
{% include 'navigation.html' %}


{% block content %}
   
        <head>
        </head>
        <section class="bg-dark text-center py-9">
         
          <div class="container">
            <p class="text-light fs-1"></p>
          <div class="col-12 col-md-7 mx-auto">
              <h1 class="text-white fs-lg-7 fs-md-4 fs-3 my-4">Conseil des Ministres</h1>
            </div>
            <p class="w-md-50 text-light mx-auto">Conformément aux dispositions des articles 48 et 49 de la Constitution, le Roi préside le Conseil des ministres, composé du Chef du gouvernement et des ministres. Le Conseil des ministres délibère sur les questions et textes concernant les orientations stratégiques de la politique de l'Etat, les projets de révision de la Constitution , les projets de lois organiques, les orientations générales du projet de loi de finances , les projets de loi-cadre visés à l'article 71 (2e alinéa) de la Constitution, le projet de loi d'amnistie, les projets de textes relatifs au domaine militaire , la déclaration de l'état de siège , la déclaration de guerre , le projet de décret visé à l'article 104 de la Constitution, la nomination, sur proposition du Chef du Gouvernement et à l'initiative du ministre….</p>
          </div>
          
  
        </section>
   
        <section class="pb-0">
  
          <div class="container">
            <div class="gallery-wraper">
              {% load static %}
              <div class="img-wraper"><img class="img-fluid" src="{% static 'assets/img/gallery/1.png' %}" alt="" /></div>
              <div class="img-wraper"><img class="img-fluid" src="{% static 'assets/img/gallery/2.png' %}" alt="" /></div>
              <div class="img-wraper"><img class="img-fluid" src="{% static 'assets/img/gallery/3.png' %}" alt="" /></div>
              <div class="img-wraper"><img class="img-fluid" src="{% static 'assets/img/gallery/4.png' %}" alt="" /></div>
              <div class="img-wraper"><img class="img-fluid" src="{% static 'assets/img/gallery/5.png' %}" alt="" /></div>
            </div>
            <div class="px-xl-8 px-md-5 px-3 py-8">
                    
        </section> 
        <section class="bg-light">
          <div class="container">
            <div class="row align-items-center">
              <h1 class="fs-lg-6 fs-md-4 fs-3 my-lg-4 my-3">Suite d'Asiette</h1>
              <p class="fs-1">En application des articels 56,57,58 et 59 du CGI , l'assiette de cotisation fait référence au revenu global net d'impôt, qui définit comme suit :
                  Le Revenu Net Imposable (RNI) est définit selon l'article 58 du CGI en déduisant des sommes brutes payée au titre des revenus et avantages énumérés à l'article 59 du CGI ci-dessous :</p>
              <div class="col-lg-6 text-center text-lg-start"><img class="img-fluid" src="assets/img/offer/1.png" alt="" /></div>
              <div class="col-lg-6">
                <h1 class="fs-xl-5 fs-lg-4 fs-3">Application de la loi suite aux articles 56,57,58,59 du CGI :</h1>
                <ul class="list-unstyled my-xl-5 my-3">
                  <li class="fs-2 my-4 d-flex align-items-center gap-3 text-black"><i class="fa-solid fa-circle-check fs-4 text-dark"></i><span>WLes éléments exonérés en vertu de l'article 57 du CGI.</span></li>
                  <li class="fs-2 my-4 d-flex align-items-center gap-3 text-black"><i class="fa-solid fa-circle-check fs-4 text-dark"></i><span>Les éléments visés à l'article 59 du CGI.</span></li>
                </ul>
                <button class="btn btn-dark"><a class="text-reset" href="#suite">Lire plus</a></button>
              </div>
            </div>
          </div>
          <!-- end of .container-->
        </section>
        <br><br>
        <section class="bg-light">
          <div class="container" id="suite">
            <div class="row align-items-center">
              <p class="fs-1" >En application des articels 56,57,58 et 59 du CGI , l'assiette de cotisation fait référence au revenu global net d'impôt, qui définit comme suit :
                  Le Revenu Net Imposable (RNI) est définit selon l'article 58 du CGI en déduisant des sommes brutes payée au titre des revenus et avantages énumérés à l'article 59 du CGI ci-dessous :</p>
                  <div class="container"><img class="img-fluid" src="assets/img/offer/3.png" alt="" />
                    <div class="row mt-5">
                      <div class="col-md-6">
                        <h2 class="fs-md-4 fs-3">Autrement dit : PNI = éléments cités à l'article 59 - ceux cités à l'article 57 - ceux cités à l'ariticle 59 .
                        </h2>
                      </div>
                      <div class="col-md-6">
                        <div class="accordion accordion-flush" id=" accordionFlushExample">
                          <div class="accordion-item"></div>
                          <h2 class="accordion-header border-bottom" id="srgdgfdgdgg45">
                            <button class="accordion-button collapsed text-black bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#srgdgfdgdgg45tyuu" aria-expanded="false" aria-controls="srgdgfdgdgg45"><span class="fs-1 pe-3">Eléments cité à l'article 56</span></button>
                          </h2>
                          <div class="accordion-collapse collapse" aria-labelledby="srgdgfdgdgg45" data-bs-parent="#accordionFlushExample" id="srgdgfdgdgg45tyuu">
                              <div class="accordion-body">
                                <p class="mb-0">Traitement , Salaire les indémnité et émouluments, les allocations spéciales , remboursement forfaitaire de fraits et autres rémunérations, et avantages.</p>
                              </div>
                          </div>
                          <div class="accordion-item"></div>
                            <h2 class="accordion-header border-bottom" id="sxvdgrfhfh276">
                            <button class="accordion-button collapsed text-black bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#srgdgfdgdgg45tyuu5ghj" aria-expanded="false" aria-controls="sxvdgrfhfh276"><span class="fs-1 pe-3">Eléments cité à l'article 57</span></button>
                            </h2>
                            <div class="accordion-collapse collapse" aria-labelledby="sxvdgrfhfh276" data-bs-parent="#accordionFlushExample" id="srgdgfdgdgg45tyuu5ghj">
                                <div class="accordion-body">
                                  <p class="mb-0">Les indémnités destinées à couvrir des frais engagés dans l'exercice de la fonction ou de l'emploi , les allocations familiales , et autres indéminités non imposables.</p>
                                </div >
                            </div>
                            <div class="accordion-item"></div>
                            <h2 class="accordion-header border-bottom" id="sxvdgrfhfh276">
                            <button class="accordion-button collapsed text-black bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#srgdgfdgdgg45tyuu5ghj" aria-expanded="false" aria-controls="sxvdgrfhfh276"><span class="fs-1 pe-3">Eléments cité à l'article 59</span></button>
                            </h2>
                            <div class="accordion-collapse collapse" aria-labelledby="sxvdgrfhfh276" data-bs-parent="#accordionFlushExample" id="srgdgfdgdgg45tyuu5ghj">
                                <div class="accordion-body">
                                  <p class="mb-0">Les frais professionnels (20 % du brut imposable plafonné à 30.000 dh). Les retenues de retraites , les cotisations aux organismes marocains de prévoyance sociale.</p>
                                </div >
                            </div> 
                        </div>
                      </div>
                    </div>
                  </div>
        </section>
      </main>
      
      
{% endblock content %}
{% include 'footer.html' %}